@charset 'utf-8';

$highlight: deepskyblue;

$black: #0A0A0A;
$dark-0: rgb(28, 28, 30);
$dark-1: rgb(44, 44, 46);
$dark-2: rgb(58, 58, 60);
$dark-3: rgb(72, 72, 74);
$dark-4: rgb(99, 99, 102);
$gray: rgb(142, 142, 147);
$light-4: rgb(174, 174, 178);
$light-3: rgb(199, 199, 204);
$light-2: rgb(229, 229, 234);
// $light-1: rgb(242, 242, 247);
$light-1: rgb(242, 242, 245);
$white: #FFF;


$blue: rgb(0, 122, 255);
$blue-dark: rgb(10, 132, 255);
$green: #77C661;
$green-dark: #7BD061;
$indigo: #5857D1;
$indigo-dark: #5E5CE2;
$orange: #E69423;
$orange-dark: #E89E28;
$pink: #DC3155;
$pink-dark: #DC3A5E;
$purple: #9A53D9;
$purple-dark: #A85AEE;
$red: #DD3D34;
$red-dark: #DD473D;
$teal: #85C7F8;
$teal-dark: #8ED1FD;
$yellow: #F1CB30;
$yellow-dark: #F4D534;

// $aeon-blue: #4E5998;
$aeon-blue: #3B4894;
$aeon-yellow: #ffe7b0;
// $aeon-yellow: #F7E6B5;
// $aeon-yellow: #E9B439;
// $aeon-green: #49828D;
$aeon-green: #6dbaaf;



// 源流明體
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-ExtraLight.ttf');
  font-weight: 200;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-SemiBold.ttf');
  font-weight: 400;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: '源流明體';
  src: url('../assets/fonts/源流明體/GenRyuMinTW-Heavy.ttf');
  font-weight: 900;
}

$aeon-font-sans: 'Noto Sans TC', 'Noto Sans SC', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$aeon-font-serif: '源流明體', 'Noto Serif TC', 'Noto Serif SC';
$aeon-font-mono: Source Code Pro, PT Mono, Monaco, menlo, 'Courier New', Courier, monospace;
$aeon-font-latin-sans: Avenir Next, Helvetica Neue, Lato, Arial;
$aeon-font-latin-serif: Charter, Palatino, Athelas, Iowan, Georgia, 'Times New Roman', Times;
$aeon-font-emoji: 'Apple Color Emoji', 'Segoe UI Emoji';

// $aeon-font-hans: Biaodian Pro Serif CNS,Numeral LF Serif,MOEDICT,Fira Sans OT,Georgia,Times New Roman,Zhuyin Kaiti,TW-Sung-98_1,教育部標準宋體,MOESongUN,全字庫正宋體,Songti TC,宋體-繁,Lisong Pro,儷宋 pro,文鼎ＰＬ新宋,cwtex 仿宋體,PMingLiU,MingLiU,serif,HanaMinA,HanaMinB,HAN NOM A,HAN NOM B,Han Songti CNS,serif;
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+SC:200,300,400,500,600,700,900|Noto+Serif+TC:200,300,400,500,600,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+SC:200,300,400,500,600,700,900|Noto+Sans+TC:200,300,400,500,600,700,900&display=swap');




// // Aeon Sans
// @font-face {
//   font-family: AeonSans;
//   src: local(Heiti TC),
//        local(Microsoft Jhenghei);
//   /* no unicode-range; default to all characters */
// }

// /* Latin characters 專用 */
// @font-face {
//   font-family: AeonSans; /* 同樣的 font-family */
//   unicode-range: U+00-024F;  /* Latin, Latin1 Sup., Ext-A, Ext-B */
//   src: local(Avenir Next),     /* OS X preferred */
//        local(Avenir),
//        local(Helvetica Neue),
//        local(Arial);         /* Other OS */
// }

// /* 注音符號專用 */
// @font-face {
//   font-family: AeonSans;      /* 同樣的 font-family */
//   unicode-range: U+3100-312F;     /* Bopomofo */
//   src: local(LiHei Pro),          /* OS X */
//        local(Microsoft Jhenghei); /* Windows Vista+ */
// }

// /* 日文假名專用 */
// @font-face {
//   font-family: AeonSans;            /* 同樣的 font-family */
//   unicode-range: U+3040-30FF;           /* Hiragana, Katakana */
//   src: local(Hiragino Kaku Gothic Pro), /* OS X */
//        local(Meiryo);                   /* Windows Vista+ */
// }

html, body {
  font-family: $aeon-font-latin-serif, $aeon-font-serif, serif;
  color: $dark-1;
  // background: $black;
}

a, a:link {
  text-decoration: underline;
  color: $dark-2;
  &:hover, &:active {
    // background: $gray;
    color: $black;
  }
}

img {
  max-width: 100%;
}


.page {
  padding: 0 21px;
  
  h1 {
    font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif;
    a {
      text-decoration: none;
      font-weight: 100;
    }
  }

  strong {
		font-weight: 900;
	}
}

// Markdown
article.han-init-context {
	// @import './main.scss';

	strong {
    font-family: $aeon-font-latin-serif, $aeon-font-serif, serif;
		font-weight: 900;
	}

	em {
		font-style: italic;
	}

	> p, pre, figure, dl {
		margin: 0 21px 12px;
	}

	a {

  }

  ul, ol {
    margin: 0 21px 16px;
  }

	blockquote {
    position: relative;
		margin: 18px 21px 16px;
		padding-left: 15px;
		// border-radius: 4px;
		font-style: italic;
    word-wrap: break-word;
    // background: $light-1;
		border-left: 3px solid $gray;
	}

	> p > img {
    // display: block;
    width: calc(100% + 42px);
		max-width: calc(100% + 42px);
		margin: 0 auto;
		// border: 1px solid $gray;
    // border-radius: 3px;
    transform: translateX(-21px);
	}

	hr {
		width: 50%;
		margin: 30px auto;
		border: none;
		overflow: visible;
		&:after {
			content: '';
			display: block;
			border-top: 1px solid #DDD;
			margin: 0 3px;
			position: relative;
			top: 1px;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 21px;
		// font-family: $aeon-font-serif;
		font-weight: 700;

		a.header-anchor {
			// position: absolute;
			// left: -.35em;
			margin-right: 4px;
      font-family: $aeon-font-sans, $aeon-font-latin-sans, sans-serif;
      font-weight: 100;
			text-decoration: none;
			// color: $gray;
      color: $gray;
			transform: scale(0.8);
			// opacity: 0.85;
			// transition: opacity .2s ease-in-out;
		}
		&:hover a.header-anchor, a.header-anchor:hover {
			color: $black;
		}
	}

	h1 {
		margin: 21px 0 12px;
		font-size: 32px;
		// font-size: 2em;
	}
	h2 {
		margin: 21px 0 9px;
		font-size: 28px;
		// font-size: 1.5em;
	}
	h3 {
		margin: 18px 0 9px;
		font-size: 24px;
		// font-size: 1.17em;
	}
	h4 {
		margin: 18px 0 7px;
		font-size: 20px;
		// font-size: 1em;
	}
	h5 {
		margin: 15px 0 7px;
		font-size: 16px;
		// font-size: 0.83em;
	}
	h6 {
		margin: 15px 0 4px;
		font-size: 12px;
		// font-size: 0.67em;
	}



	// ol, ul {
	// 	box-sizing: border-box;
	// 	margin: 0 21px;
	// 	padding: 0 21px;
	// }

	// ul {
	// 	// list-style: none;
	// }

	> table {
		width: 100%;
		max-width: 100%;
		margin: 0 auto 12px;
		border-collapse: collapse;
		// border: 1px solid $gray;
		// border-radius: 3px;

		thead {
			background: $light-1;
		}
		thead, tbody {
			th, td {
				padding: 3px 5px;
				// border: 1px solid $aeon-blue;
			}
			th {
				// color: $aeon-blue;
				font-weight: 700;
				border-bottom: 2px solid $gray;
			}
			td {
				border-top: 1px solid $gray;
			}
		}
	}



	// .tip {
	// 	position: relative;
	// 	margin: 2em 0;
	// 	padding: 12px 24px 12px 30px;
	// 	border-left: 4px solid #f66;
	// 	border-top-right-radius: 2px;
	// 	border-bottom-right-radius: 2px;
	// 	background-color: $inky-black-l25;
	// 	br {
	// 		display: none;
	// 	}
	// }
	// .tip:before {
	// 	position: absolute;
	// 	top: 14px;
	// 	left: -12px;
	// 	content: "!";
	// 	width: 20px;
	// 	height: 20px;
	// 	border-radius: 100%;
	// 	color: #fff;
	// 	font-size: 14px;
	// 	line-height: 20px;
	// 	font-weight: bold;
	// 	text-align: center;
	// 	background-color: #f66;
	// 	font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	// }

	// ---------------------------------------------------------------
	// Code
	// ---------------------------------------------------------------
	> p > code {
		box-sizing: border-box;
		margin: 0 2px;
		padding: 2px 4px;
		// border: 1px solid $light-1;
		border-radius: 3px;
		background: $light-1;
		font-family: $aeon-font-mono;
		font-size: 0.9em;
		// color: ;
	}

  .saber-highlight {
    margin: 0 21px 12px;
    background: $light-1;
    &:before {
      font-family: $aeon-font-sans, $aeon-font-latin-sans, sans-serif;
    }

    .saber-highlight-mask {
      .highlighted {
        // background: rgba(3, 169, 244, 0.121);
        background: rgba($color: $light-4, $alpha: 0.15);
        box-shadow: inset 3px 0 0 0 $gray;
      }
    }
  }

	> pre {
		box-sizing: border-box;
		// padding: 0 8px;
		padding: 20px 24px;
		// border: 1px solid $aeon-blue;
		border-radius: 4px;
		background: $light-1;
		line-height: 1.5;
		
		> code {
			background: transparent;
			font-family: $aeon-font-mono;
		}
	}

	// figure.highlight {
	// 	line-height: 1.5;
	// 	table {
	// 		width: 100%;
	// 		border: 1px solid $aeon-blue;
	// 		border-radius: 3px;
	// 		background: $light-1;
	// 		pre {
	// 			margin: 0;
	// 		}
	// 		td.gutter {
	// 			width: 31px;
	// 			border-right: 1px solid $aeon-blue;
	// 			text-align: center;
	// 			pre {
	// 				color: $gray;
	// 			}
	// 		}
	// 		td.code {}
	// 	}
	// 	.hljs {
	// 		background: transparent;
	// 		font-family: $aeon-font-mono;
	// 	}
	// }

	// ---------------------------------------------------------------
	// Mark
	// ---------------------------------------------------------------

	mark {
		padding: 0 3px;
		// background-color: $yellow;
		// color: $inky-black;
	}

	// ---------------------------------------------------------------
	// Abbr
	// ---------------------------------------------------------------

	abbr {
		margin: 0 2px;
		padding: 0 3px;
		border: 1px dashed $aeon-blue;
		border-radius: 3px;
    font-family: $aeon-font-latin-sans, $aeon-font-sans, sans-serif;
		font-size: 0.9em;
		text-decoration: none;
		background: $light-1;
		cursor: pointer;
	}

	// ---------------------------------------------------------------
	// Definition List
	// ---------------------------------------------------------------
	dl {
		dt {
			font-weight: 700;
		}
		dd {
			pre {
				// border: 1px solid $aeon-blue;
				border-radius: 4px;
				background: $light-1;
			}
		}
	}

  // ---------------------------------------------------------------
	// Definition List
	// ---------------------------------------------------------------
  ul.contains-task-list {
    list-style: none;
    padding-left: 0;
    input.task-list-item-checkbox {
      margin-right: 2px;
    }
  }

  // ---------------------------------------------------------------
	// Footnote
	// ---------------------------------------------------------------
  section.footnotes {
    font-family: $aeon-font-sans, $aeon-font-latin-sans, sans-serif;
    a.footnote-backref {
      font-family: $aeon-font-latin-serif, $aeon-font-serif, serif;
    }
  }


	// ---------------------------------------------------------------
	// KBD
	// ---------------------------------------------------------------
	kbd {
		display: inline-block;
		margin: 0 1px;
		padding: 1px 4px;
		border: 1px solid #DDD;
		border-radius: 3px;
		// background: $inky-white;
		font: 11px $aeon-font-mono;
		// color: $inky-black;
		line-height: 1.4;
		text-shadow: 0 1px 0 #ffffff;
		box-shadow: 0 2px 0 rgba(0,0,0,.2), 0 1px 0 #FFF inset;
	}

}
