article.han-init-context {
	// @import './main.scss';

	strong {
		font-weight: 900;
	}

	em {
		font-style: italic;
	}

	> p, pre, figure, dl {
		margin: 0 21px 12px;
	}

	a {
		color: $gray;
		// color: $aeon-blue;
		// transition: color .2s;
		&:hover, &:active {
			background: $gray;
			color: $dark-0;
			// text-decoration: underline;
		}
	}

	blockquote {
		margin: 18px 21px 16px;
		padding-left: 15px;
		position: relative;
		font-style: italic;
		word-wrap: break-word;
		border-left: 3px solid $aeon-blue;
	}

	img {
		display: block;
		max-width: calc(100% + 42px);
		margin: 0 auto;
		// border: 1px solid $aeon-blue;
		border-radius: 3px;
	}

	hr {
		width: 50%;
		margin: 30px auto;
		border: none;
		overflow: visible;
		&:after {
			content: '';
			display: block;
			border-top: 1px solid rgb(198, 208, 235);
			margin: 0 3px;
			position: relative;
			top: 1px;
		}
	}

	h1, h2, h3, h4, h5, h6 {
		display: flex;
		align-items: center;
		position: relative;
		padding-left: 21px;
		// font-family: $aeon-font-serif;
		font-weight: 700;

		a.header-anchor {
			position: absolute;
			left: -.35em;
			margin-right: 4px;
			text-decoration: none;
			color: $aeon-blue;
			transform: scale(0.85);
			opacity: 0.85;
			// transition: opacity .2s ease-in-out;
		}
		&:hover a.header-anchor {
			opacity: 1;
		}
	}

	h1 {
		margin: 21px 0 12px;
		font-size: 32px;
		// font-size: 2em;
	}
	h2 {
		margin: 21px 0 9px;
		font-size: 28px;
		// font-size: 1.5em;
	}
	h3 {
		margin: 18px 0 9px;
		font-size: 24px;
		// font-size: 1.17em;
	}
	h4 {
		margin: 18px 0 7px;
		font-size: 20px;
		// font-size: 1em;
	}
	h5 {
		margin: 15px 0 7px;
		font-size: 16px;
		// font-size: 0.83em;
	}
	h6 {
		margin: 15px 0 4px;
		font-size: 12px;
		// font-size: 0.67em;
	}



	// ol, ul {
	// 	box-sizing: border-box;
	// 	margin: 0 21px;
	// 	padding: 0 21px;
	// }

	// ul {
	// 	// list-style: none;
	// }

	> table {
		width: 100%;
		max-width: 100%;
		margin: 0 auto 12px;
		border-collapse: collapse;
		// border: 1px solid $aeon-blue;
		// border-radius: 3px;

		thead {
			background: $aeon-yellow;
		}
		thead, tbody {
			th, td {
				padding: 3px 5px;
				// border: 1px solid $aeon-blue;
			}
			th {
				color: $aeon-blue;
				font-weight: 700;
				border-bottom: 2px solid $aeon-blue;
			}
			td {
				border-top: 1px solid $aeon-blue;
			}
		}
	}



	// .tip {
	// 	position: relative;
	// 	margin: 2em 0;
	// 	padding: 12px 24px 12px 30px;
	// 	border-left: 4px solid #f66;
	// 	border-top-right-radius: 2px;
	// 	border-bottom-right-radius: 2px;
	// 	background-color: $inky-black-l25;
	// 	br {
	// 		display: none;
	// 	}
	// }
	// .tip:before {
	// 	position: absolute;
	// 	top: 14px;
	// 	left: -12px;
	// 	content: "!";
	// 	width: 20px;
	// 	height: 20px;
	// 	border-radius: 100%;
	// 	color: #fff;
	// 	font-size: 14px;
	// 	line-height: 20px;
	// 	font-weight: bold;
	// 	text-align: center;
	// 	background-color: #f66;
	// 	font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	// }

	// ---------------------------------------------------------------
	// Code
	// ---------------------------------------------------------------
	> p > code {
		box-sizing: border-box;
		margin: 0 2px;
		padding: 2px 4px;
		border: 1px solid $aeon-blue;
		border-radius: 3px;
		background: $aeon-yellow;
		font-family: $aeon-font-mono;
		font-size: 0.9em;
		// color: ;
	}

	> pre, div[class$=-highlight] > pre {
		box-sizing: border-box;
		// padding: 0 8px;
		padding: 10px;
		border: 1px solid $aeon-blue;
		border-radius: 3px;
		background: $aeon-yellow;
		line-height: 1.5;
		
		> code {
			background: transparent;
			font-family: $aeon-font-mono;
		}
	}

	figure.highlight {
		line-height: 1.5;
		table {
			width: 100%;
			border: 1px solid $aeon-blue;
			border-radius: 3px;
			background: $aeon-yellow;
			pre {
				margin: 0;
			}
			td.gutter {
				width: 31px;
				border-right: 1px solid $aeon-blue;
				text-align: center;
				pre {
					color: $aeon-blue;
				}
			}
			td.code {}
		}
		.hljs {
			background: transparent;
			font-family: $aeon-font-mono;
			// color: $inky-black;
		}
	}

	// ---------------------------------------------------------------
	// Mark
	// ---------------------------------------------------------------

	mark {
		padding: 0 3px;
		background-color: $aeon-yellow;
		// color: $inky-black;
	}

	// ---------------------------------------------------------------
	// Mark
	// ---------------------------------------------------------------

	abbr {
		margin: 0 2px;
		padding: 2px 4px;
		border: 1px dashed $aeon-blue;
		border-radius: 3px;
		font-size: 0.9em;
		text-decoration: none;
		background: $aeon-yellow;
		cursor: pointer;
	}

	// ---------------------------------------------------------------
	// Definition List
	// ---------------------------------------------------------------
	dl {
		dt {
			font-weight: 700;
		}
		dd {
			// pre {
			// 	border: 1px solid $aeon-blue;
			// 	border-radius: 3px;
			// 	background: $aeon-yellow;
			// }
		}
	}


	// ---------------------------------------------------------------
	// KBD
	// ---------------------------------------------------------------
	kbd {
		display: inline-block;
		margin: 0 1px;
		padding: 1px 4px;
		border: 1px solid rgb(198, 208, 235);
		border-radius: 3px;
		// background: $inky-white;
		font: 11px $aeon-font-mono;
		// color: $inky-black;
		line-height: 1.4;
		text-shadow: 0 1px 0 #ffffff;
		box-shadow: 0 2px 0 rgba(0,0,0,.2), 0 1px 0 #FFF inset;
	}

}
